<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/blog.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/bootstrap-markdown.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body >
<%include nav%>
    <div>
        <div class="container"><br/><br/><br/></div>
        <div class="container">
            <% if(locals['error']){ %>
            <div class="alert alert-danger" role='alert'>
                <%= error %>
            </div>
            <% } %>
        <form action="/article/edit/<%=article._id%>/" method="post">
            <input class='form-control' name="edit_title" type="text" placeholder="标题" value="<%-article.title%>"/>
            <textarea name="edit_content" data-provide="markdown" rows="10" class="md-input"><%-article.content%></textarea>
            <button type="submit" class="btn btn-lg btn-default btn-block">发表</button>
        </form>
        </div>
     </div>
</body>
<script src="/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-markdown.js"></script>
<script src="/js/to-markdown.js"></script>
<script src="/js/markdown.js"></script>
</html>