<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>blog</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/blog.css">
    <!-- Custom styles for this template -->
    <link href="/signin.css" rel="stylesheet">
    <link href="/uploadify.css" rel="stylesheet">
</head>
<body>
<% include nav%>
<div class="container"><br/><br/><br/></div>
<div class="container">
    <form class="form-signin" action="/Psetting" method="post">
        <input type="text" class="form-control" placeholder="个性签名" name="signature" value="<%=user.Psetting%>">
        <button class="btn btn-lg btn-primary btn-block" type="submit">更改</button>
    </form>
</div> <!-- /container -->
</body>
<script src="/jquery-1.10.2.min.js"></script>
<script src="/js/jquery.uploadify.min.js"></script>
</html>